.reveal section {
  letter-spacing: 0.01em;
}

.reveal pre {
  font-size: 1em;
}

.reveal pre code {
  max-height: 600px;
  padding: 20px;
}

.reveal em,
.reveal strong {
  font-family: georgia, sans-serif;
  font-style: italic;
  letter-spacing: -0.06em;
}

.reveal h1,
.reveal h2 {
  letter-spacing: -0.01em;
  text-shadow: 0 0 2px #000,
  0 0 2px #000,
  0 0 2px #000,
  0 0 2px #000;
}

.reveal h3,
.reveal p,
.reveal li {
  letter-spacing: 0.01em;
  text-shadow: 0 0 2px #000,
    0 0 2px #000,
    0 0 2px #000;
}

.reveal ul li {
  list-style: none outside none;
  text-align: center;
}

.reveal ul li:before {
  content: '🔸';
  display: block;
}
.reveal ul li:first-child:before {
  display: none;
}

.reveal .title {
  padding-bottom: 48px;
}

.reveal .title--main h3 {
  font-size: 0.857142857143em;
  font-style: italic;
  font-family: georgia;
}

.reveal .pogokid {
  font-family: boris, Arial Black;
}

.reveal .logo-image {
  background: none;
  border: none;
  box-shadow: none;
  display: inline-block;
  margin: 100px 0 0;
}

.reveal .logo-image + .logo-image {
  margin-left: 40px;
}

.pogokid-logo {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 3px;
  left: 0;
  padding-left: 4em;
  background: #000 url(pogokid-on-dark.png) no-repeat 1% 98%;
  background-size: auto 90%;
  z-index: 100;
  white-space: nowrap;
}
.pogokid-logo-secondary {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 60px;
  vertical-align: middle;
  margin: 0 1em 0 0;
}
.pogokid-logo h1 {
  display: inline-block;
  text-shadow: none !important;
  font-size: 1em;
  margin: 1em 1em 1em 0;
  white-space: nowrap;
}
.pogokid-logo a {
  color: inherit;
}
